.presentation-studio-label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--athena-text-primary);
} 

/* TITLE */
.ai-title{
  text-align:center;
  background: var(--athena-hero-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: -0.02em;
}
.ai-subtitle{
  text-align:center;
  background: var(--athena-text-secondary);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.1rem;
  /* font-weight: 200; */
  margin-bottom: 30px;
  letter-spacing: -0.02em;
}

/* INPUT BOX */
.ai-input-box{
  width:80%;
  background:var(--athena-bg-light);
  padding:28px;
  border-radius:22px;
  box-shadow:10px 30px 80px  var( --athena-text-secondary);
  margin-left: 10%;
}


/* MAIN TEXTAREA */
.ai-main-input{
  padding-top: 5px;
  width:100%;
  outline:none;
  background:transparent;
  font-size:18px;
  resize:none;
  min-height:55px;   /* reduced */
  margin-bottom:8px;
}
.ai-outline-box{
  width:100%;
  margin-top:14px;
  border:none;
  outline:none;
  background:var(--athena-bg-light);
  border-radius:14px;
  padding:14px;
  min-height:90px;
  font-size:15px;
  box-shadow:0 6px 18px rgba(0,0,0,0.08);
}

.horizontal-line{
  margin-bottom: 10px;
  opacity: 30%;
  margin-top: -10px;
}


/* MOBILE */
@media(max-width:768px){
  .ai-title{
    font-size:28px;
  }

}

/* ===== TOOLBAR ===== */

.ai-toolbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  /* margin-top:14px; */
  gap:15px;
}

.ai-left-controls{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

/* dropdown style */
.ai-left-controls select{
  border:1px solid var(--athena-dark-slate);
  background:white;
  padding:10px 14px;
  border-radius:10px;
  font-size:14px;
  font-weight:500;
  cursor:pointer;
  transition:.2s;
}

.ai-left-controls select:hover{
  border-color:var(--athena-deep-blue);
  color: var(--athena-dark-slate);
}


/* generate top right */
.ai-generate-top{
  background:var( --athena-text-primary);
  color:var(--athena-bg-light);
  border:none;
  padding:11px 20px;
  border-radius:12px;
  font-weight:600;
  cursor:pointer;
  transition:.25s;
  white-space:nowrap;
}

.ai-generate-top:hover{
  transform:translateY(-1px);
  box-shadow:0 8px 18px rgba(0,0,0,.15);
}

.ai-generate-top:disabled{
  background:var(--athena-text-light);
  cursor:not-allowed;
  box-shadow:none;
}


